#textdomain wesnoth-units

#define HUNN_WOLF_GHOST_ANIMS ALPHA_MIN ALPHA_MID ALPHA_MAX ALPHA_DODGE
    [defend]
        start_time=-126
        [if]
            hits=hit
            offset=0.0~-0.05:126,-0.05~0.0:126
            alpha={ALPHA_MAX}~{ALPHA_MIN}:126,{ALPHA_MIN}~{ALPHA_MAX}:126

            hit_sound_start_time=-25
            [hit_sound_frame]
                sound=wail-sml.wav
            [/hit_sound_frame]
            hit_sound2_start_time=-25
            [hit_sound2_frame]
                sound={SOUND_LIST:WOLF_HIT}
            [/hit_sound2_frame]
        [/if]
        [else]
            hits=kill
            offset=0.0~-0.05:126,-0.05~0.0:126
            alpha={ALPHA_MAX}~{ALPHA_MIN}:126,{ALPHA_MIN}~{ALPHA_MAX}:126
        [/else]
        [else]
            hits=miss
            offset=0.0~-0.1:126,-0.1~0.0:126
            alpha={ALPHA_MAX}~{ALPHA_DODGE}:126,{ALPHA_DODGE}~{ALPHA_MAX}:126
        [/else]
        [frame]
            duration=252
        [/frame]
    [/defend]
    [standing_anim]
        start_time=0
        alpha={ALPHA_MAX}~{ALPHA_MIN}:1400,{ALPHA_MIN}~{ALPHA_MID}:600,{ALPHA_MID}~{ALPHA_MIN}:600,{ALPHA_MIN}~{ALPHA_MAX}:1400
        [frame]
            duration=4000
        [/frame]
    [/standing_anim]
#enddef

[unit_type]
    id=Hunn_Fear_Shadow
#ifdef OGRE_RUSSIAN
    name= _"Тень страха"
#else
    name= _"Fear Shadow"
#endif
    race=undead
    image="units/hunns/wolf.png"
    profile="portraits/wolves/wolf-red.png~GS()~BLEND(110,35,150,0.4)~O(60%)"
#ifver WESNOTH_VERSION >= 1.14.0
#else
    {MAGENTA_IS_THE_TEAM_COLOR}
#endif
    hitpoints=18
    movement_type=hunnwolf
    movement=7
    experience=24
    level=0
    alignment=chaotic
    advances_to=Hunn_Fear_Manifestation
    cost=14
    usage=scout
#ifdef OGRE_RUSSIAN
    description= _ "Тени страха — это младшая степная нежить, злые духи, которые рождаются из человеческого страха и принимают облик волков. Днём они скрываются в степом ветре, а ночью собираются в стаи и выслеживают одиноких путников, стоянки караванов или отряды кочевников. Тени кружатся вокруг добычи, сверкают зловещими глазами и издают протяжный вой, напоминающий ветер. Стоит жертве показать признак страха — как тени тут же набрасываются на неё и долго, медленно пожирают, ведь их истинный корм — не кости и мясо, а предсмертный ужас, который испытывает добыча. Сведения о тенях страха встречаются в преданиях всех народов Великой Степи, и за века кочевники научились противостоять им с помощью магии, оберегов или мужества, поэтому смерть от стаи теней была редким явлением. Однако в последние годы теней стало гораздо больше, а сами они осмелели, и стали набрасываться даже на тех, кого раньше посчитали бы слишком сильной добычей; тому виной гуннские ведьмы, которые подчинили себе эту нежить, расплодили её из кошмаров истерзанных пленников и поставили себе на службу. Тени — их главные разведчики в степи, и если в темноте вы увидели стаю горящих глаз, то знайте, за вами наблюдает не только злой дух, но и силы, гораздо более могущественные."
#else
    description= _ "Fear Shadows are the lesser steppe undead, evil spirits that are born out of human fear and take the form of wolves. During the day they hide in the steppe wind, and at night they gather in packs and hunt down lone travelers, caravan camps, or nomads. Shadows swirl around the prey, sparkling with ominous eyes and letting out a prolonged howl akin to that of the wind. As soon as the victim shows a sign of fear, the shadows immediately attack and devour them for a long time, slowly, because their true source of nourisment is not bones and meat, but the horror that prey experiences before death. Tales about the fear shadows are found in the legends of all the peoples of the Great Steppe, and over the centuries nomads have learned to resist them with the help of magic and amulets or courage, so death from a pack of shadows became a rare occurrence. However, in recent years, the shadows have become much more numerous, and they themselves have grown bolder, and began to pounce even on those who previously would have been considered too strong prey; This is due to the Hunn witches, who subjugated these undead beastd, bred them from the horror of tortured captives and put them at their service. Shadows are their main scouts in the steppe, and if in the dark you saw a pack of burning eyes, then you should know that you are watched not only by an evil spirit, but also forces that are much more powerful."
#endif
    die_sound=wail-long.wav
#    {DEFENSE_ANIM "unused" "unused" wail-sml.wav }
    {HUNN_WOLF_GHOST_ANIMS 0.6 0.75 0.9 0.25}
    [abilities]
    {ABILITY_HUNNFACTION}
    {ABILITY_STEPPE_WOLF}
    {ABILITY_STEPPE_WOLF_PACK}
#    {ABILITY_SKIRMISHER}
    [/abilities]

    [attack]
        name=fangs
        description=_"fangs"
        icon=attacks/fangs.png
        type=blade
        range=melee
        damage=4
        number=3
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=fangs
        [/filter_attack]
        offset=0.0~-0.1:100,-0.1~0.0:50,0.0~0.3:50,0.3~0.5:100,0.5~0.6:50,0.6~0.4:100,0.4~0.2:50,0.2~0.0:100
        start_time=-350
        [frame]
            duration=100
            sound={SOUND_LIST:WOLF_GROWL}
        [/frame]
        [frame]
            duration=200
        [/frame]
        {SOUND:HIT bite.ogg -100}
        [frame]
            duration=300
        [/frame]
    [/attack_anim]
[/unit_type]

[unit_type]
    id=Hunn_Fear_Manifestation
#ifdef OGRE_RUSSIAN
    name= _"Призрак страха"
#else
    name= _"Fear Manifestation"
#endif
    race=undead
    image="units/hunns/wolf2.png"
    profile="portraits/wolves/wolf-great.png~GS()~BLEND(110,35,150,0.4)~O(65%)"
#ifver WESNOTH_VERSION >= 1.14.0
#else
    {MAGENTA_IS_THE_TEAM_COLOR}
#endif
    hitpoints=27
    movement_type=hunnwolf
    movement=7
    experience=43
    level=1
    alignment=chaotic
    advances_to=Hunn_Fear_Incarnate
    cost=20
    usage=scout
#ifdef OGRE_RUSSIAN
    description= _ "Поставив себе на службу теней страха, ведьмы также занялись их улучшением. По преданиям было известно, что тень страха, получившая достаточно пиши, становится всё более материальной, и, следовательно, повышает свой боевой потенциал. Однако успешных атак за последние десятилетия было так мало, что подобных существ в степи уже не осталось. Ведьмы исправили это, досыта накормив некоторых теней человеческим ужасом в закромах своих теремов. В результате получились более сильные и опасные твари; их клыки (как и все тело) стали более материальными и теперь способны запросто разрывать плоть, а вместе со страхом новые существа научились поглощать жизненную энергию добычи, и тем самым поддерживать своё полуматериальное состояние. Ведьмы прозвали их призраками страха; они не только собирают информацию, как тени, но и при необходимости запросто загрызают нужную цель, выполняя роль тайных убийц"
#else
    description= _ "WIP: NOT YET TRANSLATED"
#endif
    die_sound=wail-long.wav
#    {DEFENSE_ANIM "unused" "unused" wail-sml.wav }
    {HUNN_WOLF_GHOST_ANIMS 0.7 0.85 1 0.33}
    [abilities]
    {ABILITY_HUNNFACTION}
    {ABILITY_STEPPE_WOLF}
    {ABILITY_STEPPE_WOLF_PACK}
#    {ABILITY_SKIRMISHER}
    [/abilities]

    [attack]
        name=fangs
        description=_"fangs"
        icon=attacks/fangs.png
        type=blade
        range=melee
        damage=6
        number=3
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=fangs
        [/filter_attack]
        offset=0.0~-0.1:100,-0.1~0.0:50,0.0~0.3:50,0.3~0.5:100,0.5~0.6:50,0.6~0.4:100,0.4~0.2:50,0.2~0.0:100
        start_time=-350
        [frame]
            duration=100
            sound={SOUND_LIST:WOLF_GROWL}
        [/frame]
        [frame]
            duration=200
        [/frame]
        {SOUND:HIT bite.ogg -100}
        [frame]
            duration=300
        [/frame]
    [/attack_anim]
[/unit_type]

[unit_type]
    id=Hunn_Fear_Incarnate
#ifdef OGRE_RUSSIAN
    name= _"Воплощенный ужас"
#else
    name= _"Fear Incarnate"
#endif
    race=undead
    image="units/hunns/wolf3.png"
    profile="portraits/wolves/wolf-dark.png~GS()~BLEND(110,35,150,0.4)~O(75%)"
#ifver WESNOTH_VERSION >= 1.14.0
#else
    {MAGENTA_IS_THE_TEAM_COLOR}
#endif
    hitpoints=35
    movement_type=hunnwolf
    movement=7
    experience=60
    level=2
    alignment=chaotic
    advances_to=null
    {STEPPE_AMLA_FEAR_INCARNATE}
    cost=40
    usage=scout
#ifdef OGRE_RUSSIAN
    description= _ "Конечной целью экспериментов с тенями было воссоздание Воплощённого Ужаса — лютоволка, сотканного из страха, который может запросто обратить в панику и разорвать с десяток кочевников. Сведения о таких существах содержались в очень старых летописях и были размытыми, останков нигде не было, ведь по преданиям после смерти лютоволк распадался на первобытный ужас, и следующие 3 поколения в поселениях, расположенных недалеко от места его гибели, рождались трусами. Но информацию о подобных психологических изменениях в истории некоторых племён ведьмы нашли и решили начать свои опыты. Они долго кормили страхом и мясом своих призраков, и в конечном итоге у них получилась полностью материальная свирепая тварь, один взгляд на которую вызывает в сердце человека трепет; практика показала, что такой лютоволк действительно способен разорвать целую деревню, однако для поддержания его материальности ему постоянно нужен корм. Ведьмы были довольны результатом и стали активно разводить эту нежить; в мирное время их периодически спускают на соседние народы для подпитки, а в случае войны эти твари окажутся на флангах и будут рвать вражеских стрелков, магов и даже лёгкую конницу."+{SPECIAL_NOTES}+{SPECIAL_NOTES_STEPPE_AMLA}
#else
    description= _ "WIP: NOT YET TRANSLATED"+{SPECIAL_NOTES}+{SPECIAL_NOTES_STEPPE_AMLA}
#endif
    die_sound=wail-long.wav
#    {DEFENSE_ANIM "unused" "unused" wail-sml.wav }
    {HUNN_WOLF_GHOST_ANIMS 0.8 0.9 1 0.5}
    [abilities]
    {ABILITY_HUNNFACTION}
    {ABILITY_STEPPE_WOLF}
    {ABILITY_STEPPE_WOLF_PACK}
#    {ABILITY_SKIRMISHER}
    [/abilities]

    [attack]
        name=fangs
        description=_"fangs"
        icon=attacks/fangs.png
        type=blade
        range=melee
        damage=9
        number=3
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=fangs
        [/filter_attack]
        offset=0.0~-0.1:100,-0.1~0.0:50,0.0~0.3:50,0.3~0.5:100,0.5~0.6:50,0.6~0.4:100,0.4~0.2:50,0.2~0.0:100
        start_time=-350
        [frame]
            duration=100
            sound={SOUND_LIST:WOLF_GROWL}
        [/frame]
        [frame]
            duration=200
        [/frame]
        {SOUND:HIT bite.ogg -100}
        [frame]
            duration=300
        [/frame]
    [/attack_anim]
[/unit_type]
