#textdomain wesnoth-units
[unit_type]
    id=Ogre_Bull
#ifdef OGRE_RUSSIAN
    name= _"Бык"
#else
    name= _"Bull"
#endif
    race=bull
    image="units/bulls/bull.png"
    profile="portraits/bull.png"
    small_profile="portraits/bull.png~SCALE(205,205)"
#ifver WESNOTH_VERSION >= 1.14.0
#else
    {MAGENTA_IS_THE_TEAM_COLOR}
#endif
    hitpoints=40
    movement_type=bull
    [resistance]
    [/resistance]
    movement=5
    experience=37
    level=1
    upkeep=0
    alignment=neutral
    advances_to=Ogre_Tribal_Bull,Ogre_Minotaur
    cost=14
    usage=fighter
#ifdef OGRE_RUSSIAN
    description= _ "Мало что так ассоциируется у людей с кочевниками-ограми, как их огромные быки - мощные, обладающие драчливым нравом рогатые звери ростом с человека в холке, с тяжёлыми копытами и толстой бурой шкурой. Они служат скотоводам источниками мяса, молока, шерсти и тягловой силой для повозок. Быки - основа благосостояния огров: влияние в орде имеют те из кочевников, чьи стада наиболее многочисленные. Имеют значение быки и как военная сила - именно они запрягаются в боевые колесницы, кои без усилий везут, невероятно разгоняясь и врываясь в ряды противника, как огромные тараны..."
#else
    description= _ "WIP: NOT YET TRANSLATED"
#endif
    die_sound=bull-die.ogg
    {DEFENSE_ANIM "units/bulls/bull.png" "units/bulls/bull.png" {SOUND_LIST:BULL_HIT} }
    [abilities]
    {ABILITY_OGREFACTION}
    {ABILITY_PILLAGE trample}
    {ABILITY_STEPPE_REGENERATES_LESSER 3}
    {ABILITY_STEPPE_UPKEEPLESS}
#    {ABILITY_STEPPE_CATTLE}
    [/abilities]
    [attack]
        name=horns
        {TRANSLATE_ATTACK _"horns" "рога"}
        icon=attacks/horn.png
        type=pierce
        range=melee
        damage=6
        number=2
    [/attack]
    [attack]
        name=headbutt
        {TRANSLATE_ATTACK _"headbutt" "таран"}
        icon=attacks/ram.png    
        type=impact
        range=melee
        damage=10
        number=1
        [specials]
            {WEAPON_SPECIAL_CHARGE}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=horns
        [/filter_attack]

        start_time=-1150

        [frame]
            offset=0.0~-0.2:50
        [/frame]
        [frame]
            offset=-0.2~-0.4:500,-0.4~0.85:500,0.85~0:200
            sound=horse-canter.wav
        [/frame]

        {SOUND:HIT_AND_MISS spear.ogg spear-miss.ogg -100}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=headbutt
        [/filter_attack]
        start_time=-1150

        [frame]
            offset=0.0~-0.2:50
        [/frame]
        [frame]
            offset=-0.2~-0.4:500,-0.4~1.1:650,1.1~0:200
            sound=horse-canter.wav
        [/frame]

        {SOUND:HIT_AND_MISS mace.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]
[/unit_type]

[unit_type]
    id=Ogre_Tribal_Bull
#ifdef OGRE_RUSSIAN
    name= _"Племенной Бык"
#else
    name= _"Tribal Bull"
#endif
    race=bull
    image="units/bulls/tribal_bull.png"
    profile="portraits/bull.png"
    small_profile="portraits/bull.png~SCALE(205,205)"
#ifver WESNOTH_VERSION >= 1.14.0
#else
    {MAGENTA_IS_THE_TEAM_COLOR}
#endif
    hitpoints=68
    movement_type=bull
    [resistance]
    [/resistance]
    movement=5
    experience=55
    level=2
    upkeep=0
    alignment=neutral
    advances_to=null
    {STEPPE_AMLA_BULL}
    cost=27
    usage=fighter
#ifdef OGRE_RUSSIAN
    description= _ "В многочисленных стадах огров особенно выделяются племенные быки. Ростом и массой племенной бык подобен двум обычным быкам, в два раза больше обычных его мощь, в два раза острее коварный звериный ум. Племенные быки для прочих быков - как ханы для огров, это вожди, ведущие по степи свои стада. Племенные быки являются атрибутами власти кочевой знати, шаманов, владык. А ещё они являются важнейшей частью огрских культов. Такое создание, как племенной бык - самая желанная жертва для мрачного повелителя подземного мира, которому поклоняются необузданные кочевники. Жизненную силу заколотого на алтаре племенного быка бог огров меняет на своего слугу - злого демона тарбына, что воплощается в костяк могучего животного в реальном мире, и подчиняется приказом проведшего обряд призвания жреца."+{SPECIAL_NOTES}+{SPECIAL_NOTES_STEPPE_AMLA}
#else
    description= _ "WIP: NOT YET TRANSLATED"+{SPECIAL_NOTES}+{SPECIAL_NOTES_STEPPE_AMLA}
#endif
    die_sound=bull-die.ogg
    {DEFENSE_ANIM "units/bulls/tribal_bull.png" "units/bulls/tribal_bull.png" {SOUND_LIST:BULL_HIT} }
    [abilities]
    {ABILITY_OGREFACTION}
    {ABILITY_PILLAGE trample}
    {ABILITY_STEPPE_REGENERATES_LESSER 6}
    {ABILITY_STEPPE_UPKEEPLESS}
#    {ABILITY_STEPPE_CATTLE}
    [/abilities]
    [attack]
        name=horns
        {TRANSLATE_ATTACK _"horns" "рога"}
        icon=attacks/horn.png
        type=pierce
        range=melee
        damage=10
        number=2
    [/attack]
    [attack]
        name=headbutt
        {TRANSLATE_ATTACK _"headbutt" "таран"}
        icon=attacks/ram.png    
        type=impact
        range=melee
        damage=16
        number=1
        [specials]
            {WEAPON_SPECIAL_CHARGE}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=horns
        [/filter_attack]

        start_time=-1150

        [frame]
            offset=0.0~-0.2:50
        [/frame]
        [frame]
            offset=-0.2~-0.4:500,-0.4~0.85:500,0.85~0:200
            sound=horse-canter.wav
        [/frame]

        {SOUND:HIT_AND_MISS spear.ogg spear-miss.ogg -100}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=headbutt
        [/filter_attack]
        start_time=-1150

        [frame]
            offset=0.0~-0.2:50
        [/frame]
        [frame]
            offset=-0.2~-0.4:500,-0.4~1.1:650,1.1~0:200
            sound=horse-canter.wav
        [/frame]

        {SOUND:HIT_AND_MISS mace.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]

    {STEPPE_DRAINANIM drain}

[/unit_type]


[unit_type]
    id=Ogre_Minotaur
#ifdef OGRE_RUSSIAN
    name= _"Фанатик"
#else
    name= _"Minotaur Fanatic"
#endif
    race=bull
    image="units/bulls/minotaur.png"
#ifver WESNOTH_VERSION >= 1.14.0
#else
    {MAGENTA_IS_THE_TEAM_COLOR}
#endif
    hitpoints=55
    movement_type=bull
    [resistance]
        pierce=100
        cold=80
        arcane=120
    [/resistance]
    movement=5
    experience=75
    level=2
    alignment=chaotic
    advances_to=Ogre_Minotaur_Chosen
    cost=27
    usage=fighter
#ifdef OGRE_RUSSIAN
    description= _ "Порой противники огров встречали странных существ, сочетающих черты как огра, так и быка, яростных, бесстрашных и способных питаться жизненной энергией. Это фанатики – особо преданные Богу-Быку огры, которых жрецы добровольно обратили в подобия своего Господина. Фанатики беспрекословно выполняют приказы жрецов, ибо через жрецов Бог-Бык доносит свою волю до этого мира. Они являются гвардией, на которую опирается жреческое сословие. Наличие этих жутких существ заставляет ханов быть сговорчивыми, а простых огров – послушными; горе тому, на кого обрушится их гнев, а значит и гнев самого Бога-Быка!"
#else
    description= _ "WIP: NOT YET TRANSLATED"
#endif
    {STEPPE_DEATH_ANIM_TWOSOUND bull-die.ogg {SOUND_LIST:TROLL_DIE}}
    {STEPPE_DEFENSE_ANIM_TWOSOUND "units/bulls/minotaur.png" "units/bulls/minotaur.png" {SOUND_LIST:BULL_HIT} {SOUND_LIST:TROLL_HIT}}
    [abilities]
    {ABILITY_OGREFACTION}
    {ABILITY_PILLAGE trample}
    {ABILITY_LIFESTEAL_AURA 1}
    [/abilities]

    [attack]
        name=club
        description=_"club"
        icon=attacks/club.png
        type=impact
        range=melee
        damage=10
        number=3
        [specials]
            {WEAPON_SPECIAL_STEPPE_CUSTOM_DRAIN 25}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=club
        [/filter_attack]

        start_time=-200

        [frame]
        duration=300
        [/frame]

        {SOUND:HIT_AND_MISS club-old.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]

    {STEPPE_DRAINANIM drain}
[/unit_type]

[unit_type]
    id=Ogre_Minotaur_Chosen
#ifdef OGRE_RUSSIAN
    name= _"Избранный"
#else
    name= _"Minotaur Chosen"
#endif
    race=bull
    image="units/bulls/minotaur2.png"
#ifver WESNOTH_VERSION >= 1.14.0
#else
    {MAGENTA_IS_THE_TEAM_COLOR}
#endif
    hitpoints=69
    movement_type=bull
    [resistance]
        pierce=100
        cold=80
        arcane=130
    [/resistance]
    movement=5
    experience=160
    level=3
    alignment=chaotic
    advances_to=Ogre_Minotaur_Champion
    cost=45
    usage=fighter
#ifdef OGRE_RUSSIAN
    description= _ "Среди фанатиков (которых с каждым годом становится всё больше) Бог-Бык выбирает наиболее сильных и преданных, и наделяет их невероятными вампирскими способностями, подобными способностям тарбынов. Головы избранных оголяются до черепа, шерсть приобретает красноватый оттенок от крови, которую они высасывают взглядом и впитывают своими телами. С огромными костяными дубинами наперевес, избранные служат символом мощи, которой наделяет Бог-Бык верных последователей, и вселяют ужас в огров, чьи симпатии находятся на стороне шаманов…"
#else
    description= _ "WIP: NOT YET TRANSLATED"
#endif
    {STEPPE_DEATH_ANIM_TWOSOUND bull-die.ogg {SOUND_LIST:TROLL_DIE}}
    {STEPPE_DEFENSE_ANIM_TWOSOUND "units/bulls/minotaur2.png" "units/bulls/minotaur2.png" {SOUND_LIST:BULL_HIT} {SOUND_LIST:TROLL_HIT}}

    [abilities]
    {ABILITY_OGREFACTION}
    {ABILITY_PILLAGE trample}
    {ABILITY_LIFESTEAL_AURA 2}
    [/abilities]

    [attack]
        name=club
        description=_"club"
        icon=attacks/club.png
        type=impact
        range=melee
        damage=13
        number=3
        [specials]
            {WEAPON_SPECIAL_STEPPE_CUSTOM_DRAIN 35}
        [/specials]
    [/attack]

    [attack]
        name=curse
        description=_"curse"
        icon=attacks/curse-shaman.png
        type=arcane
        range=ranged
        damage=7
        number=2
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            {WEAPON_SPECIAL_STEPPE_WEAKEN 15}
        [/specials]
    [/attack]

#    {OGRE_CURSE_ANIM curse magic-dark.ogg magic-dark-miss.ogg "~CS(50,-30,-50)~O(75%)" "~CS(50,-30,-50)~O(40%)"}
    {OGRE_CURSE_ANIM_NEW curse magic-dark.ogg magic-dark-miss.ogg ()}


    [attack_anim]
        [filter_attack]
            name=club
        [/filter_attack]

        start_time=-200

        [frame]
        duration=300
        [/frame]

        {SOUND:HIT_AND_MISS club-old.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]

    {STEPPE_DRAINANIM drain}
[/unit_type]

[unit_type]
    id=Ogre_Minotaur_Champion
#ifdef OGRE_RUSSIAN
    name= _"Чемпион Бога-Быка"
#else
    name= _"Bull God's Champion"
#endif
    race=bull
    image="units/bulls/minotaur3.png"
#ifver WESNOTH_VERSION >= 1.14.0
#else
    {MAGENTA_IS_THE_TEAM_COLOR}
#endif
    hitpoints=86
    movement_type=bull
    [resistance]
        pierce=100
        cold=80
        arcane=140
    [/resistance]
    movement=5
    experience=200
    level=4
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=70
    usage=fighter
#ifdef OGRE_RUSSIAN
    description= _ "Высоченные, с могучими телами и яростными черепами вместо лиц, одинаково сильные как в обращении с дубинами, так и в чёрной магии, чемпионы Бога-Быка пышут такой мощью, что порой их принимали за воплощение самого их Повелителя; одним ударом чемпион способен снести быку голову, одним заклинанием превратить здорового огра в слабое, истощённое существо. Если в орде есть чемпионы, это означает, что Бог-Бык так благоволит ей что, кажется, сражаться с ней бесполезно. Конечно, и их можно одолеть, но те, кто сумеет сделать это, испытают такой ужас, и понесут такие потери, что ни у кого не останется сомнений: Бог-Бык – самый сильный и страшный из богов, которых знала Великая Степь."
#else
    description= _ "WIP: NOT YET TRANSLATED"
#endif
    {STEPPE_DEATH_ANIM_TWOSOUND bull-die.ogg {SOUND_LIST:TROLL_DIE}}
    {STEPPE_DEFENSE_ANIM_TWOSOUND "units/bulls/minotaur3.png" "units/bulls/minotaur3.png" {SOUND_LIST:BULL_HIT} {SOUND_LIST:TROLL_HIT}}
    [abilities]
    {ABILITY_OGREFACTION}
    {ABILITY_PILLAGE trample}
    {ABILITY_LIFESTEAL_AURA 3}
    [/abilities]

    [attack]
        name=club
        description=_"club"
        icon=attacks/club.png
        type=impact
        range=melee
        damage=17
        number=3
        [specials]
#            {WEAPON_SPECIAL_STEPPE_CUSTOM_DRAIN 35}
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]

    [attack]
        name=curse
        description=_"curse"
        icon=attacks/curse-shaman.png
        type=arcane
        range=ranged
        damage=11
        number=2
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            {WEAPON_SPECIAL_STEPPE_WEAKEN 20}
        [/specials]
    [/attack]

#    {OGRE_CURSE_ANIM curse magic-dark.ogg magic-dark-miss.ogg "~CS(50,-30,-50)~O(75%)" "~CS(50,-30,-50)~O(40%)"}
    {OGRE_CURSE_ANIM_NEW curse magic-dark.ogg magic-dark-miss.ogg ()}


    [attack_anim]
        [filter_attack]
            name=club
        [/filter_attack]

        start_time=-200

        [frame]
        duration=300
        [/frame]

        {SOUND:HIT_AND_MISS club-old.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]

    {STEPPE_DRAINANIM drain}
[/unit_type]
