#textdomain wesnoth-units
[unit_type]
    id=Slav_Temsk_Pagan
#ifdef OGRE_RUSSIAN
    name= _"Язычник"
#else
    name= _"Pagan"
#endif
    race=steppe_northerner
    image="units/slavs/temsk-warrior.png"
#ifver WESNOTH_VERSION >= 1.14.0
#else
    {MAGENTA_IS_THE_TEAM_COLOR}
#endif    
    hitpoints=32
    movement_type=slavfoot_temsk
    [resistance]
        blade=100
    [/resistance]
    movement=5
    experience=37
    level=1
    alignment=neutral
    advances_to=Slav_Temsk_Ravenblade,Slav_Temsk_Braveheart
    cost=20
    usage=fighter
#ifdef OGRE_RUSSIAN
    description= _ "В темской земле много дремучих лесов и болот; в таких условиях неудобно действовать классической человеческой армии. Темские воины выработали новую тактику: они облачаются в лёгкие тёмные одежды, которые практически незаметны в чащобе, и нападают из засад, полагаясь на скорость и силу своих секир. Да, в открытом бою эта лёгкая пехота долго не простоит, но в условиях леса их скрытность, подвижность и знание местности позволяют им побеждать даже численно превосходящие армии, поэтому во времена раздробленности мало кто осмеливался сражаться с темью на её территории."
#else
    description= _ "WIP: NOT YET TRANSLATED"
#endif
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/slavs/temsk-warrior.png" "units/slavs/temsk-warrior.png" {SOUND_LIST:HUMAN_HIT} }
    [abilities]
    {ABILITY_SLAVFACTION}
    {ABILITY_SLAV_TEMSK}
#    {ABILITY_AMBUSH}
#    {ABILITY_STEPPE_SWAMPSTALK}
    {ABILITY_STEPPE_BUILD slav_pagan _"build idols" _"строит идолы" _"This unit can build the following:

Idol - 4 gold" _"Этот юнит может строить такие здания:

Идол - 4 золота"}
    {ABILITY_STEPPE_BUILDOPTION Idol ( _ "Build Idol") ( _ "Построить Идол") 4 (Slav_Idol) 75}
    [/abilities]

    [attack]
        name=axe
        description=_"berserker frenzy"
        icon=attacks/frenzy.png    
        type=blade
        range=melee
        damage=6
        number=3
        [specials]
            {WEAPON_SPECIAL_BERSERK}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=axe
        [/filter_attack]

        start_time=-200

        [frame]
	    duration=300
        [/frame]

        {SOUND:HIT_AND_MISS axe.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]
#    {STEPPE_BUILDER_BUILD_ANIM trap}
    {STEPPE_SIMPLE_BUILD_ANIM}
[/unit_type]

#[unit_type]
#    id=Slav_Temsk_Axeman
##ifdef OGRE_RUSSIAN
#    name= _"Темский секирщик"
##else
#    name= _ "Temsk Axeman"
##endif
#    race=steppe_northerner
#    image="units/slavs/temsk-warrior2c.png"
##ifver WESNOTH_VERSION >= 1.14.0
##else
#    {MAGENTA_IS_THE_TEAM_COLOR}
##endif    
#    hitpoints=50
#    movement_type=slavfoot_temsk
#    [resistance]
#        blade=90
#        pierce=90
#        impact=90
#    [/resistance]
#    movement=6
#    experience=100
#    level=2
#    alignment=chaotic
#    advances_to=null
#    {AMLA_DEFAULT}
#    cost=29
#    usage=fighter
##ifdef OGRE_RUSSIAN
#    description= _ "Несмотря на преимущества засадной тактики, на большой войне нельзя полагаться исключительно на неё. Рано или поздно придётся #защищать свои города, или наоборот, штурмовать города противника. Порой темским армиям приходится покидать свои леса и сражаться в открытом #поле. На этот случай у них есть отряды секирщиков – стойкая средняя пехота, облачённая в кожаные доспехи, которая способна держать строй и #принимать на себя основной удар противника. Правда, в битве они выполняют второстепенную роль: главными  тактическими приёмами темских князей #остаются фланговые удары и атаки в тыл. Однако не стоит их недооценивать. Далеко не каждый противник способен разбить строй этих суровых #темнобородых мужей."
##else
#    description= _ "WIP: NOT YET TRANSLATED"
##endif
#    die_sound={SOUND_LIST:HUMAN_DIE}
#    {DEFENSE_ANIM "units/slavs/temsk-warrior2c.png" "units/slavs/temsk-warrior2c.png" {SOUND_LIST:HUMAN_HIT} }
#    [abilities]
#    {ABILITY_SLAVFACTION}
#    {ABILITY_SLAV_TEMSK}
#    {ABILITY_AMBUSH}
#    {ABILITY_STEPPE_SWAMPSTALK}
#    [/abilities]
#    [attack]
#        name=axe
#        description=_"axe"
#        icon=attacks/axe.png    
#        type=blade
#        range=melee
#        damage=15
#        number=2
#        [specials]
#            {WEAPON_SPECIAL_RELIABLE}
#        [/specials]
#    [/attack]
#
#    [attack_anim]
#        [filter_attack]
#            name=axe
#        [/filter_attack]
#
#        start_time=-200
#
#        [frame]
#        duration=300
#        [/frame]
#
#        {SOUND:HIT_AND_MISS axe.ogg {SOUND_LIST:MISS} -100}
#    [/attack_anim]
#[/unit_type]

[unit_type]
    id=Slav_Temsk_Ravenblade
#ifdef OGRE_RUSSIAN
    name= _"Воин-ворон"
#else
    name= _ "Ravenblade"
#endif
    race=steppe_northerner
    image="units/slavs/temsk-warrior2.png"
#ifver WESNOTH_VERSION >= 1.14.0
#else
    {MAGENTA_IS_THE_TEAM_COLOR}
#endif    
    hitpoints=47
    movement_type=slavfoot_temsk
    [resistance]
        blade=100
    [/resistance]
    movement=6
    experience=75
    level=2
    alignment=chaotic
    advances_to=Slav_Temsk_Champion
    cost=35
    usage=fighter
#ifdef OGRE_RUSSIAN
    description= _ "В темской земле сохранилось немало невероятных вещей из тёмных времён. Например, культ, последователи которого умеют оборачиваться в птиц. Многие северяне из Крады или Зимновска считают это чем-то тёмным, но в сущности, этот культ берёт начало от почитания животного-покровителя, а не от злых богов. В него посвящают отважных и умелых воинов, которые желают связать свою жизнь с двором князя и стать его дружинниками. Младшие темские дружинники зовутся Воинами-Воронами. Они одеваются в легкие добротные одежды с плащом из перьев, носят диадемы и прямые мечи. Это – глаза и уши темского князя. Их способности чрезвычайно полезны: в мирное время они нередко облетают владения и следят за порядком, а на войне действуют и как разведчики, и как элитные отряды, которые заходят в тыл противника и уничтожают его обозы, гонцов и командиров."
#else
    description= _ "WIP: NOT YET TRANSLATED"
#endif
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/slavs/temsk-warrior2.png" "units/slavs/temsk-warrior2.png" {SOUND_LIST:HUMAN_HIT} }
    [abilities]
    {ABILITY_SLAVFACTION}
    {ABILITY_SLAV_TEMSK}
    {ABILITY_AMBUSH}
    {ABILITY_STEPPE_SWAMPSTALK}
    {ABILITY_STEPPE_RAVENFORM Slav_Temsk_Raven human}
    {ABILITY_STEPPE_BUILD slav_pagan_raven _"build idols" _"строит идолы" _"This unit can build the following:

Idol - 4 gold" _"Этот юнит может строить такие здания:

Идол - 4 золота"}
    {ABILITY_STEPPE_BUILDOPTION Idol ( _ "Build Idol") ( _ "Построить Идол") 4 (Slav_Idol) 66}
    #{ABILITY_STEPPE_BUILDING_BONUS_HITPOINTS 15}
    [/abilities]
    [attack]
        name=sword
        description=_"sword"
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=7
        number=3
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]

        start_time=-200

        [frame]
        duration=300
        [/frame]

        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
    [/attack_anim]
    {STEPPE_TRANSFORM_ANIM transform "units/slavs/temsk-warrior2.png" "units/slavs/raven.png" 0,0,0 magic-dark-big.ogg {SOUND_LIST:GRYPHON_HIT}}
#    {STEPPE_BUILDER_BUILD_ANIM trap}
    {STEPPE_SIMPLE_BUILD_ANIM}
[/unit_type]

[unit_type]
    id=Slav_Temsk_Champion
#ifdef OGRE_RUSSIAN
    name= _"Дружинник-оборотель"
#else
    name= _ "Ravenblade Champion"
#endif
    race=steppe_northerner
    image="units/slavs/temsk-warrior3.png"
#ifver WESNOTH_VERSION >= 1.14.0
#else
    {MAGENTA_IS_THE_TEAM_COLOR}
#endif    
    hitpoints=61
    movement_type=slavfoot_temsk
    [resistance]
        blade=90
        pierce=90
        impact=90
    [/resistance]
    movement=6
    experience=100
    level=3
    alignment=chaotic
    advances_to=null
    {STEPPE_AMLA_TEMSK_CHAMPION}
    cost=50
    usage=fighter
#ifdef OGRE_RUSSIAN
    description= _ "Старшие дружинники или просто дружинники, как их называет народ – это приближённые темского князя, его лучшие воины. Они живут при дворе и так же выполняют роль советников. Одеты дружинники в кольчуги, шлемы и дорогие перьевые плащи, вооружены мечами. Их магические способности, связанные с превращением в птиц, гораздо выше, нежели у Воинов-Воронов. Дружинники способны понимать язык птиц. Каждый из них имеет при себе ручного ворона, который занимается разведкой. Главная задача дружинников в бою – вместе с князем оказаться в тылу самого важного участка сражения, и перевернуть его исход своими мечами. Помимо этого они так же координируют действия других отрядов, а в мирное время могут выступать как судьи."+{SPECIAL_NOTES}+{SPECIAL_NOTES_STEPPE_AMLA}
#else
    description= _ "WIP: NOT YET TRANSLATED"+{SPECIAL_NOTES}+{SPECIAL_NOTES_STEPPE_AMLA}
#endif
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/slavs/temsk-warrior3.png" "units/slavs/temsk-warrior3.png" {SOUND_LIST:HUMAN_HIT} }
    [abilities]
    {ABILITY_SLAVFACTION}
    {ABILITY_SLAV_TEMSK}
    {ABILITY_AMBUSH}
    {ABILITY_STEPPE_SWAMPSTALK}
    {ABILITY_STEPPE_RAVENFORM Slav_Temsk_Elder_Raven human}
    {ABILITY_STEPPE_BUILD slav_pagan_raven2 _"build idols" _"строит идолы" _"This unit can build the following:

Idol - 3 gold" _"Этот юнит может строить такие здания:

Идол - 3 золота"}
    {ABILITY_STEPPE_BUILDOPTION Idol ( _ "Build Idol") ( _ "Построить Идол") 3 (Slav_Idol) 40}
    #{ABILITY_STEPPE_BUILDING_BONUS_HITPOINTS 30}
    [/abilities]
    [attack]
        name=sword
        description=_"sword"
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=10
        number=3
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
        [/specials]
    [/attack]
    [attack]
        name=raven
        {TRANSLATE_ATTACK _"raven" "ворон"}
        icon=attacks/beak.png
        type=pierce
        range=ranged
        damage=12
        number=1
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=raven
        [/filter_attack]

        start_time=-200
        missile_start_time=-200

        [missile_frame]
            duration=400
            image="units/slavs/raven.png~RC(magenta > black)"
            auto_vflip=no
            offset=0~0.6:200,0.6:100
            sound={SOUND_LIST:GRYPHON_HIT}
        [/missile_frame]
        [missile_frame]
            duration=200
            image="units/slavs/raven.png~RC(magenta > black)~FL(horiz)"
            auto_vflip=no
            offset=0.6~0:200
        [/missile_frame]

        [frame]
            duration=500
        [/frame]

        {SOUND:HIT_AND_MISS spear.ogg spear-miss.ogg -100}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]

        start_time=-200

        [frame]
        duration=300
        [/frame]

        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
    [/attack_anim]
    {STEPPE_TRANSFORM_ANIM transform "units/slavs/temsk-warrior3.png" "units/slavs/raven2.png" 0,0,0 magic-dark-big.ogg {SOUND_LIST:GRYPHON_HIT}}
#    {STEPPE_BUILDER_BUILD_ANIM trap}
    {STEPPE_SIMPLE_BUILD_ANIM}
[/unit_type]

[unit_type]
    id=Slav_Temsk_Braveheart
#ifdef OGRE_RUSSIAN
    name= _"Хоробр"
#else
    name= _ "Braveheart"
#endif
    race=steppe_northerner
    image="units/slavs/temsk-warrior2b.png"
#ifver WESNOTH_VERSION >= 1.14.0
#else
    {MAGENTA_IS_THE_TEAM_COLOR}
#endif    
    hitpoints=46
    movement_type=slavfoot_temsk
    [resistance]
        blade=90
    [/resistance]
    movement=5
    experience=70
    level=2
    alignment=neutral
    advances_to=null
    {STEPPE_AMLA_TEMSK_BRAVEHEART}
    cost=30
    usage=fighter
#ifdef OGRE_RUSSIAN
    description= _ "В былые варварские времена темь прослыла самым воинственным из всех северянских племён. Многие из их славных боевых традиций существуют до сих пор. Нередко в темской армии появляются отряды хоробров. Это отважные последователи древних воинских культов, которых прозвали так за их отвагу в битве. Хоробры носят лёгкую одежду, вооружаются парными топорами и не стригут волос. У них суровые лица и пристальный, тёмный взгляд, напоминающий взгляд дикого зверя. Они действуют вместе с другой лёгкой пехотой и отлично дополняют засады. Вид этих яростных, словно пришедших из первобытных легенд воинов, которые бросаются на врага из дремучего леса, устрашит многих жителей Запада и Юга."+{SPECIAL_NOTES}+{SPECIAL_NOTES_STEPPE_AMLA}
#else
    description= _ "WIP: NOT YET TRANSLATED"+{SPECIAL_NOTES}+{SPECIAL_NOTES_STEPPE_AMLA}
#endif
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/slavs/temsk-warrior2b.png" "units/slavs/temsk-warrior2b.png" {SOUND_LIST:HUMAN_HIT} }
    [abilities]
    {ABILITY_SLAVFACTION}
    {ABILITY_SLAV_TEMSK}
#    {ABILITY_AMBUSH}
#    {ABILITY_STEPPE_SWAMPSTALK}
    {ABILITY_STEPPE_BUILD slav_pagan_raven _"build idols" _"строит идолы" _"This unit can build the following:

Idol - 4 gold" _"Этот юнит может строить такие здания:

Идол - 4 золота"}
    {ABILITY_STEPPE_BUILDOPTION Idol ( _ "Build Idol") ( _ "Построить Идол") 4 (Slav_Idol) 66}
    #{ABILITY_STEPPE_BUILDING_BONUS_HITPOINTS 15}
    [/abilities]
    [attack]
        name=axe
        description=_"berserker frenzy"
        icon=attacks/frenzy.png    
        type=blade
        range=melee
        damage=7
        number=4
        [specials]
            {WEAPON_SPECIAL_BERSERK}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=axe
        [/filter_attack]

        start_time=-200

        [frame]
        duration=300
        [/frame]

        {SOUND:HIT_AND_MISS axe.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]
#    {STEPPE_BUILDER_BUILD_ANIM trap}
    {STEPPE_SIMPLE_BUILD_ANIM}
[/unit_type]